# ================================================================================
# GCode Macro: START_PRINT
# Aggiungi START_PRINT nello script di avvio dello Slicer. 
# ================================================================================
[gcode_macro START_PRINT]
gcode:
    LIGHT_ON
    backup_cfg
    G28 ; Home di tutti gli assi    
    BED_MESH_CALIBRATE ; Calibrazione del Bed
    G92 E0 ; Reset dell'estrusore
    G1 Z5.0 F3000 ; Muove l'asse Z un po' in alto per evitare di graffiare il Bed
    G1 X7.1 Y40 Z0.3 F5000.0 ; Spostamento alla posizione iniziale
    LIGHT_ON
    G1 E4 F300 ; Estrude 5
    G1 X7.1 Y215.0 Z0.3 F1500.0 E15 ; Disegna la prima linea
    G1 X7.4 Y215.0 Z0.3 F5000.0 ; Spostamento laterale
    G1 X7.4 Y40 Z0.3 F1500.0 E30 ; Disegna la seconda linea
    G92 E0 ; Reset dell'estrusore
    G1 Z5.0 F3000 ; Muove l'asse Z un po' in alto per evitare di graffiare il Bed
    _M117 BTT SENSOR ON.
    SET_FILAMENT_SENSOR SENSOR=btt_motion_sensor ENABLE=1
    SET_FILAMENT_SENSOR SENSOR=btt_switch_sensor ENABLE=1
# ================================================================================
# GCode Macro: END_PRINT
# Aggiungi END_PRINT nello script di fine dello Slicer. 
# ================================================================================
[gcode_macro END_PRINT]
gcode:
  LIGHT_SUCCESS
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  # Move nozzle away from print while retracting
  M83 ; Relative E
  G91 ; Relative XYZ
  G1 X-2 Y-2 Z+5 E-4 F300
  G90 ; Absolute XYZ
  M82 ; Absolute E
  M104 S0 ; turn off temperature
  M140 S0 ; turn off heatbed
  M106 S50 ; Leave fan running to protect cooling ducts.
  # Present print
  G1 X0 Y210 F3000 ; present print
  # Disable steppers
  M84
  LIGHT_OFF
  M117 BTT SENSOR OFF.
  SET_FILAMENT_SENSOR SENSOR=btt_motion_sensor ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=btt_switch_sensor ENABLE=0

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  ##### get user parameters or use default #####
  {% set macro_found = True if printer['gcode_macro _CLIENT_VARIABLE'] is defined else False %}
  {% set client = printer['gcode_macro _CLIENT_VARIABLE'] %}
  {% set allow_park = False if not macro_found
                 else False if client.park_at_cancel is not defined
                 else True  if client.park_at_cancel|lower == 'true'
                 else False %}
  {% set retract = 5.0  if not macro_found else client.cancel_retract|default(5.0)|abs %}
  ##### define park position #####
  {% set park_x = ""                                    if not macro_found
             else ""                                    if client.park_at_cancel_x is not defined
             else "X=" + client.park_at_cancel_x|string if client.park_at_cancel_x is not none %}
  {% set park_y = ""                                    if not macro_found
             else ""                                    if client.park_at_cancel_y is not defined
             else "Y=" + client.park_at_cancel_y|string if client.park_at_cancel_y is not none %}
  {% set custom_park = True if (park_x|length > 0 or park_y|length > 0) else False %}
  ##### end of definitions #####
  {% if (custom_park or not printer.pause_resume.is_paused) and allow_park %} _TOOLHEAD_PARK_PAUSE_CANCEL {park_x} {park_y} {% endif %}
  _CLIENT_RETRACT LENGTH={retract}
   TURN_OFF_HEATERS
  LIGHT_ERROR
  M106 S0
  # clear pause_next_layer and pause_at_layer as preparation for next print
  SET_PAUSE_NEXT_LAYER ENABLE=0
  SET_PAUSE_AT_LAYER ENABLE=0 LAYER=0
  CANCEL_PRINT_BASE
  M117 MOTION FIL. SENSOR OFF.
  SET_FILAMENT_SENSOR SENSOR=btt_motion_sensor ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=btt_switch_sensor ENABLE=0
  LIGHT_OFF
 

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state
    M300 # beep
    G91
    G92 E0
    G1 E50 F{max_velocity} # fast-load
    G1 E25 F{speed} # purge
    M300
    M300
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    M300 # beep
    G92 E0
    G1 E25 F{speed} # purge
    G1 E-420 F{max_velocity} # fast-unload
    M300
    M300
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro BED_LEVELLING]
gcode:
    LIGHT_BEDMESH
    G28
    SCREWS_TILT_CALCULATE
    G1 Z+100 ; Muove Z in alto
    LIGHT_OFF

[gcode_macro LIGHT_ON]
gcode:
  WLED_ON STRIP=light PRESET=1
  
[gcode_macro LIGHT_OFF]
gcode:
  WLED_ON STRIP=light PRESET=2

[gcode_macro LIGHT_HEATING]
gcode:
  WLED_ON STRIP=light PRESET=3

[gcode_macro LIGHT_SUCCESS]
gcode:
  WLED_ON STRIP=light PRESET=6

[gcode_macro LIGHT_ERROR]
gcode:
  WLED_ON STRIP=light PRESET=5

[gcode_macro LIGHT_BEDMESH]
gcode:
  WLED_ON STRIP=light PRESET=4