# ================================================================================
# GCode Macro: START_PRINT
# Aggiungi START_PRINT nello script di avvio dello Slicer. 
# ================================================================================
[gcode_macro START_PRINT]
gcode:
    LIGHT_ON
    backup_cfg
    G28 ; Home di tutti gli assi    
    BED_MESH_CALIBRATE ; Calibrazione del Bed
    G92 E0 ; Reset dell'estrusore
    G1 Z5.0 F3000 ; Muove l'asse Z un po' in alto per evitare di graffiare il Bed
    G1 X7.1 Y40 Z0.3 F5000.0 ; Spostamento alla posizione iniziale
    LIGHT_ON
    G1 E4 F300 ; Estrude 4
    G1 X7.1 Y215.0 Z0.3 F1500.0 E15 ; Disegna la prima linea
    G1 X7.4 Y215.0 Z0.3 F5000.0 ; Spostamento laterale
    G1 X7.4 Y40 Z0.3 F1500.0 E30 ; Disegna la seconda linea
    G92 E0 ; Reset dell'estrusore
    G1 Z5.0 F3000 ; Muove l'asse Z un po' in alto per evitare di graffiare il Bed
    _M117 BTT SENSOR ON.
    SET_FILAMENT_SENSOR SENSOR=btt_motion_sensor ENABLE=1
    SET_FILAMENT_SENSOR SENSOR=btt_switch_sensor ENABLE=1
# ================================================================================
# GCode Macro: END_PRINT
# Aggiungi END_PRINT nello script di fine dello Slicer. 
# ================================================================================
[gcode_macro END_PRINT]
gcode:
  LIGHT_SUCCESS
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  # Move nozzle away from print while retracting
  M83 ; Relative E
  G91 ; Relative XYZ
  G1 X-2 Y-2 Z+5 E-4 F300
  G90 ; Absolute XYZ
  M82 ; Absolute E
  M104 S0 ; turn off temperature
  M140 S0 ; turn off heatbed
  M106 S50 ; Leave fan running to protect cooling ducts.
  # Present print
  G1 X0 Y210 F3000 ; present print
  # Disable steppers
  M84
  LIGHT_OFF
  M117 BTT SENSOR OFF.
  SET_FILAMENT_SENSOR SENSOR=btt_motion_sensor ENABLE=0
  SET_FILAMENT_SENSOR SENSOR=btt_switch_sensor ENABLE=0

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
   LIGHT_ERROR
   M220 S100 ; Reset Speed factor override percentage to default (100%)
   M221 S100 ; Reset Extrude factor override percentage to default (100%)
   G91 ; Set coordinates to relative
   {% if printer.extruder.temperature >= 170 %}
      G1 F1800 E-1 ; Retract filament 3 mm to prevent oozing
   {% endif %}
   ;if all axis are homed, lift the hotend to leave room for hot filament to ooze and to keep it clear of the bed.
   {% if printer.toolhead.homed_axes == "xyz" %}
      G1 F6000 Z10 ; Move Z Axis up 10 mm to allow filament ooze freely
      G90 ; Set coordinates to absolute
      G1 X10 Y221 F1000 ; Move Printer Head Out of Way
      ; M84 ; Disable stepper motors - don't so the gantry stays aligned
   {% endif %}
   ;set part fan speed to zero.
   M106 S0
   ;bed and hotend are left at the print temps in case I want to restart.
   CLEAR_PAUSE
   G4 S5 ; Wait for 5 seconds
   LIGHT_OFF
   BASE_CANCEL_PRINT
   ; set BTT runout sensors off
   M117 BTT SENSOR OFF.
   SET_FILAMENT_SENSOR SENSOR=btt_motion_sensor ENABLE=0
   SET_FILAMENT_SENSOR SENSOR=btt_switch_sensor ENABLE=0
   
[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state
    M300 # beep
    G91
    G92 E0
    G1 E50 F{max_velocity} # fast-load
    G1 E25 F{speed} # purge
    M300
    M300
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    M300 # beep
    G92 E0
    G1 E25 F{speed} # purge
    G1 E-420 F{max_velocity} # fast-unload
    M300
    M300
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro BED_LEVELLING]
gcode:
    LIGHT_BEDMESH
    G28
    SCREWS_TILT_CALCULATE
    G1 Z+100 ; Muove Z in alto
    LIGHT_OFF

[gcode_macro LIGHT_ON]
gcode:
  WLED_ON STRIP=light PRESET=1
  
[gcode_macro LIGHT_OFF]
gcode:
  WLED_ON STRIP=light PRESET=2

[gcode_macro LIGHT_HEATING]
gcode:
  WLED_ON STRIP=light PRESET=3

[gcode_macro LIGHT_SUCCESS]
gcode:
  WLED_ON STRIP=light PRESET=6

[gcode_macro LIGHT_ERROR]
gcode:
  WLED_ON STRIP=light PRESET=5

[gcode_macro LIGHT_BEDMESH]
gcode:
  WLED_ON STRIP=light PRESET=4