# ================================================================================
# GCode Macro: M600
# ================================================================================

[gcode_macro M600]
description: Filament Change
gcode:
    {% set Z = params.Z|default(10)|float %}
    PAUSE
    G91
    G1 E-5 F1800  ; retract per evitare oozing
    G1 Z{Z} F600  ; alza Z
    G90
    G1 X2 Y2 F3000  ; parcheggia per cambio filamento
    M117 CAMBIO FILAMENTO

# ================================================================================
# GCode Macro: FILAMENT CHANGE PARK
# ================================================================================

[gcode_macro FILAMENT_CHANGE_PARK]
gcode:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    G90
    G1 Z{[printer.toolhead.position.z + 10, printer.toolhead.axis_maximum.z]|min} F600
    G1 X2 Y2 F3000

# ================================================================================
# GCode Macro: BED_LEVELLING
# ================================================================================

[gcode_macro BED_LEVELLING]
gcode:
    LIGHT_BEDMESH
    G28
    SCREWS_TILT_CALCULATE
    G1 Z+100 ; Muove Z in alto
    LIGHT_OFF

[gcode_macro M190]
rename_existing: M190.1
gcode:
    {% if printer["gcode_macro status_heating"] != null %}
      status_heating
    {% endif %}
      M190.1 { rawparams }
    {% if printer["gcode_macro status_ready"] != null %}
      status_ready
    {% endif %}